@media(max-width:1246px){
    .section2 .box6 .box7{
        margin: 2% 15%;
    }
}
@media(max-width:1100px){
    .section3 .box11{
        left: 13%;
    }
}
@media(max-width:980px){
    .section1{
        margin-top: 20%;
    }
    section .box1 p{
        width: 80%;
    }
    .section1 .box4{
        margin-left: 25%;
    }
    .section1 .box4 .box5{
        width: 100%;
    }
    .section2{
        margin-top: 15%;
    }
    .section3 .box11{
        left: 18%;
    }
    .section4 .box14 #guitar{
        width: 17rem;
        height:22rem;
    } 
    .section4 .box14 #friend{
        width: 15.5rem;
        height:15rem;
    }
    .section4 .box14 #badminton{
        width: 15.5rem;
        height:10.8rem;
    }
    .section4 .box14 #paint{
        width: 17rem;
        height:12rem;
    }
    .section4 .box14 #books{
        width: 18rem;
        height:15rem;
    }
    .section5 .box18{
        left: 60%;
    }
}
@media(max-width:751px){
    .section3 .box11{
        left: 9%;
    }
    .section4 {
        flex-direction: column;
        margin-left: 0%;
    }
    .section5 .box17{
        width: 50%;
    }
    .section5 .box18{
        left: 30%;
    }
}